In [1]:
import pandas as pd

#df = pd.read_csv("All-Anfield.csv",  index_col='Date', parse_dates=True)
df = pd.read_csv("Anfield-Attendance.csv")

In [2]:
df.head(3)

         Date   Home-Team          Away-Team  Attendance     Season
0        Date        Home               Away         NaN  2018 2019
1  08/05/1993   Liverpool  Tottenham Hotspur     43385.0  2018 2019
2  21/04/1993   Liverpool       Leeds United     34992.0  2018 2019

Remove any row that has "Date" in df['date]

In [3]:
df = df[~df['Date'].str.contains('Date')]

Strip replace dots and dashes so the dates all look the same

In [4]:
df['Date'] = df['Date'].str.replace('.','/')
df['Date'] = df['Date'].str.replace('-','/')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 519 entries, 1 to 545
Data columns (total 5 columns):
Date          519 non-null object
Home-Team     519 non-null object
Away-Team     519 non-null object
Attendance    519 non-null float64
Season        519 non-null object
dtypes: float64(1), object(4)
memory usage: 24.3+ KB

In [27]:
df.to_csv('clean-anfield.csv')